body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    color: #4C312F;
}

a{
    text-decoration: none;
    color: #4C312F;
}

body::-webkit-scrollbar {
    width: 12px;  
}

body::-webkit-scrollbar-track {
    background: #4C312F;
}

body::-webkit-scrollbar-thumb {
    background-color: #EFB351;
    border-radius: 20px;
    border: 2px solid #4C312F;
}

.background-first{
    position: absolute;
    z-index: -1;
}

header{
    display: flex;
    border-bottom: 2px solid white;
    height: 85px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > img {
    margin-left: 50px;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
}

.header-button{
    border-left: 2px solid white;
}

.header-button-reg{
    border-right: 2px solid white;
}

.mainWH{
    padding: 29px 44px 29px 44px;
}

.itemsH{
    padding: 29px 30px 29px 30px;
}

.aboutH{
    padding: 29px 67px 29px 67px;
}

.catalogH{
    padding: 29px 67px 29px 67px;
}

.regH{
    padding: 29px 70px 29px 70px;
}

.contactsH{
    padding: 29px 32px 29px 32px;
}

.hello-screen{
    display: flex;
    width: 100%;
    height: 995px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 288px;
}

.left-text{
    flex-direction: column;
}

.light-text{
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    color: rgba(76, 49, 47, 0.5);
}

.big-text{
    margin: 0;
    font-weight: 900;
    font-size: 60px;
}

.bottom-line-text{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 155px;
    height: 3px;
    background-color: #EFB351;
    color: transparent;
}

.left-text-buttons{
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    gap: 29px;
}

.left-text-button{
    width: 240px;
    height: 46px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 47px;
    font-family: "Jost", sans-serif;
}

.left-text-button:hover {
    cursor: pointer;
}

.buy-now{
    color: white;
    background-color: #EFB351;
    border: none;
}

.more-info{
    color: #4C312F;
    background-color: transparent;
    border: 3px solid #EFB351;
}

.items{
    width: 100%;
    height: 731px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.items > .head-text{
    margin-top: 39px;
    display: flex;
    font-size: 60px;
    font-weight: 900;
    color: #EFB351;
    justify-content: center;
}

.items-more-info{
    width: 240px;
    height: 46px;
    font-weight: 700;
    color: white;
    background-color: #EFB351;
    font-size: 25px;
    border: none;
    border-radius: 47px;
    margin-bottom: 20px;
    font-family: "Jost", sans-serif;
}

.card{
    display: flex;
    width: 343px;
    height: 509px;
    border: 1px solid #F9A857;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 42px;
}

.card > div > img {
    margin-top: 10px;
}

.banana-cup-img{
    margin-left: 35px;
}

.type-of-card{
    margin: 0;
    font-size: 25px;
}

.card-description{
    margin: 0;
    font-weight: 300;
}

.about-us{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1080px;
    background-image: url("assets/img/background-image.png");
    background-size: 2347px 1575px;
}

.head-text-about{
    margin: 0;
    font-size: 60px;
    font-weight: 900;
}

.text-about{
    margin-top: 159px;
}

footer{
    width: 100%;
    height: 265px;
}

.contacts-text{
    font-size: 25px;
}

.contacts-bold-text{
    margin-bottom: 65px;
    font-weight: 700;
}

#contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-of-text{
    margin-left: 65px;
}

.sociales{
    display: flex;
    flex-direction: column;
    margin-right: 206px;
    gap: 10px;
}

.soc{
    display: flex;
    align-items: center;
}

.soc-text{
    margin-left: 23px;
    font-size: 25px;
}

/*Дальше стили для каталога*/

.catalog-body{
    background-image: url("./assets/img/fWindow.png");
    background-size: 1920px 2222px;
}

.mainWHB{
    border: none;
    background-color: transparent;
    border-left: 2px solid white;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #4C312F;
    padding: 29px 44px 29px 44px;
}

.mainWHB:hover{
    cursor: pointer;
}

.filters{
    display: flex;
    width: 547px;
    height: 995px;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid white;
}

.catalog-head{
    font-size: 60px;
    font-weight: 700;
    margin-top: 52px;
}

.ropa-filter{
    margin: 0;
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 162px;
}

.ropa-filters{
    display: flex;
    flex-direction: row;
}

.ropa-filters > ul {
    list-style: none;
    margin-right: 150px;
}

.ropa-filters > ul li {
    position: relative; 
}

.ropa-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}

.ropa{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

hr {
    background-color: white;
    width: 477px;
    height: 2px;
    border: 1px solid white;
}

.banana-filter{
    margin: 0;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 190px;
}

.banana-filters{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.banana-filters > ul {
    list-style: none;
    margin-right: 48px;
}

.banana-filters > ul li {
    position: relative; 
}

.banana-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}

.banana{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

.cup{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

.cup-filter{
    margin: 0;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 198px;
}

.cup-filters{
    display: flex;
    flex-direction: row;
    margin-right: 155px;
}

.cup-filters > ul {
    list-style: none;
}

.cup-filters > ul li {
    position: relative; 
}

.cup-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}

.car{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

.car-filter{
    margin: 0;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.car-filters{
    display: flex;
    flex-direction: row;
    margin-right: 110px;
}

.car-filters > ul {
    list-style: none;
}

.car-filters > ul li {
    position: relative; 
}

.car-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}