.main-body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    color: #4C312F;
    background-image: url("./assets/img/fWindow.png");
    background-size: 1920px 1080px;
}

.black-back{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
    color: #4C312F;
}

.main-body::-webkit-scrollbar {
    width: 12px;  
}

.main-body::-webkit-scrollbar-track {
    background: #4C312F;
}

.main-body::-webkit-scrollbar-thumb {
    background-color: #EFB351;
    border-radius: 20px;
    border: 2px solid #4C312F;
}

header{
    display: flex;
    border-bottom: 2px solid white;
    width: 100%;
    height: 85px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-placeholder{
    width: 800px;
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.hello-screen-img {
    width: 698px;
    height: 522px;
    margin-left: 50px;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.mainWH{
    padding: 29px 44px 29px 44px;
}

.itemsH{
    padding: 29px 30px 29px 30px;
}

.aboutH{
    padding: 29px 67px 29px 67px;
}

.catalogH{
    padding: 29px 67px 29px 67px;
}

.regH{
    padding: 29px 70px 29px 70px;
}

.contactsH{
    padding: 29px 32px 29px 32px;
}

.hello-screen{
    display: flex;
    width: 100%;
    height: 995px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 288px;
}

.left-text{
    flex-direction: column;
}

.light-text{
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    color: rgba(76, 49, 47, 0.5);
}

.big-text{
    margin: 0;
    font-weight: 900;
    font-size: 60px;
}

.bottom-line-text{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 155px;
    height: 3px;
    background-color: #EFB351;
    color: transparent;
}

.left-text-buttons{
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 29px;
}

.left-text-button{
    width: 240px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    border-radius: 47px;
    font-family: "Jost", sans-serif;
}

.left-text-button:hover {
    cursor: pointer;
}

.buy-now{
    color: white;
    background-color: #EFB351;
    border: none;
}

.more-info{
    color: #4C312F;
    background-color: transparent;
    border: 3px solid #EFB351;
}

.items{
    width: 100%;
    height: 731px;
    background-color: white;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
}

.head-text{
    margin: 0;
    margin-bottom: 39px;
    display: flex;
    font-size: 60px;
    font-weight: 900;
    color: #EFB351;
    justify-content: center;
}

.items-more-info{
    width: 240px;
    height: 46px;
    font-weight: 700;
    color: white;
    background-color: #EFB351;
    font-size: 25px;
    border: none;
    border-radius: 47px;
    margin-bottom: 20px;
    font-family: "Jost", sans-serif;
}

.card{
    display: flex;
    width: 343px;
    height: 509px;
    border: 1px solid #F9A857;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 42px;
}

.card > div > img {
    margin-top: 10px;
}

.banana-cup-img{
    margin-left: 35px;
}

.type-of-card{
    margin: 0;
    font-size: 25px;
}

.card-description{
    margin: 0;
    font-weight: 300;
}

.about-us{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1080px;
    background-image: url("assets/img/background-image.png");
    background-size: 2347px 1575px;
}

.head-text-about{
    margin: 0;
    font-size: 60px;
    font-weight: 900;
}

.text-about{
    margin-top: 159px;
}

.about-us-img{
    width: 969px;
    height: 832px;
    background-image: url("assets/img/peoples-big.png");
}

footer{
    width: 100%;
    height: 265px;
}

.contacts-text{
    font-size: 25px;
    margin: 0;
}

.contacts-bold-text{
    margin-bottom: 65px;
    font-weight: 700;
}

#contacts{
    width: 100%;
    height: 265px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
    gap: calc(100% - 1200px);
}

.sociales{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.soc{
    display: flex;
    align-items: center;
}

.soc-text{
    margin-left: 23px;
    font-size: 25px;
}

@media (min-width: 290px) and (max-width: 440px){
    .main-body{
        background-size: 100% 1025px;
        font-size: 9px;
    }

    header{
        height: 62px;
        flex-direction: column;
    }

    .logo{
        width: 25px;
        height: 17px;
    }

    .header-buttons{
        font-size: 9px;
        width: 100%;
    }

    .mainWH{
        padding: 10px 9px 10px 9px;
    }
    
    .itemsH{
        padding: 10px 9px 10px 9px;
    }
    
    .aboutH{
        padding: 10px 12px 10px 12px;
    }
    
    .catalogH{
        padding: 10px 9px 10px 9px;
    }
    
    .regH{
        padding: 10px 7px 10px 7px;
    }
    
    .contactsH{
        padding: 10px 9px 10px 9px;
    }

    .hello-screen{
        width: 100%;
        height: 251px;
        gap: 15px;
    }

    .logo-placeholder{
        width: 100%;
        height: 33px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .hello-screen-img{
        width: 162px;
        height: 122px;
        margin: 0;
    }

    .light-text{
        width: 163px;
        font-size: 10px;
    }

    .big-text{
        width: 163px;
        font-size: 15px;
    }

    .left-text{
        width: 172px;
    }

    .inter-fact{
        width: 171px;
    }

    .left-text-buttons{
        gap: 5px;
        margin: 0;
    }

    .left-text-button{
        font-size: 8px;
        border-radius: 15px;
        width: 80px;
        height: 15px;
        padding: 0;
    }

    .more-info{
        border-width: 2px;
    }

    .head-text{
        font-size: 15px;
        padding: 15px;
        margin-bottom: 10px;
    }

    .items{
        height: 100%;
        padding-bottom: 2px;
    }

    .cards{
        display: flex;
        gap: 20px;
    }

    .card{
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .card-description{
        height: 55px;
        width: 91px;
    }

    .type-of-card{
        font-size: 10px;
    }

    .items-more-info{
        width: 95px;
        height: 15px;
        padding: 0;
        font-size: 10px;
        margin: 8px 3px 0px 3px;
    }

    .banana-ropa-img{
        width: 30px;
        height: 48px;
    }

    .fresh-banana-img{
        width: 48px;
        height: 48px;
    }

    .text-box-about{
        margin: 20px 0px 20px 0px;
    }

    .banana-cup-img{
        width: 55px;
        height: 48px;
        margin-left: 10px;
    }

    .banana-car-img{
        width: 74px;
        height: 48px;
    }

    .about-us{
        height: 100%;
        background-size: 1500px 100%;
    }

    .head-text-about{
        font-size: 20px;
        width: 100%
    }

    .text-about{
        margin-top: 35px;
    }

    .about-us-img{
        width: 0;
        height: 0;
    }

    footer{
        height: 60px;
    }

    #contacts{
        width: 100%;
        height: 60px;
        gap: calc(100% - 300px);
    }

    .contacts-text{
        font-size: 7px;
        width: 156px;
    }

    .sociales{
        gap: 5px;
    }

    .soc-text{
        font-size: 7px;
        margin-left: 5px;
    }

    .contacts-bold-text{
        margin-bottom: 10px;
    }

    .contact-icon{
        width: 12px;
        height: 12px;
    }
}

/*
    Дальше стили для каталога
*/

.catalog-body{
    background-image: url("./assets/img/fWindow.png");
    background-size: 1920px 2222px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

.catalog-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mobile-arrow-sort{
    display: none;
}

.mainWHB{
    border: none;
    background-color: transparent;
    border-left: 2px solid white;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #4C312F;
    padding: 29px 44px 29px 44px;
}

.mainWHB:hover{
    cursor: pointer;
}

.filters{
    display: flex;
    width: 547px;
    height: 1600px;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid white;
}

.catalog-head{
    font-size: 60px;
    font-weight: 700;
    margin-top: 52px;
    color: #4C312F;
}

.ropa-filter{
    margin: 0;
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 162px;
}

.ropa-filters{
    display: flex;
    flex-direction: row;
}

.ropa-filters > ul {
    list-style: none;
    margin-right: 150px;
}

.ropa-filters > ul li {
    position: relative; 
}

.ropa-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}

.ropa{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

hr {
    background-color: white;
    width: 477px;
    height: 2px;
    border: 1px solid white;
}

.banana-filter{
    margin: 0;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 190px;
}

.banana-filters{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.banana-filters > ul {
    list-style: none;
    margin-right: 48px;
}

.banana-filters > ul li {
    position: relative; 
}

.banana-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}

.banana{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

.cup{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

.cup-filter{
    margin: 0;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 198px;
}

.cup-filters{
    display: flex;
    flex-direction: row;
    margin-right: 155px;
}

.cup-filters > ul {
    list-style: none;
}

.cup-filters > ul li {
    position: relative; 
}

.cup-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}

.car{
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
}

.car-filter{
    margin: 0;
    display: flex;
    width: 100%;
    height: 90px;
    font-size: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.car-filters{
    display: flex;
    flex-direction: row;
    margin-right: 110px;
}

.car-filters > ul {
    list-style: none;
}

.car-filters > ul li {
    position: relative; 
}

.car-filters > ul li::before {
    content: ''; 
    background-image: url('./assets/img/banana-ico.png'); 
    background-size: 50px 50px;
    width: 50px; 
    height: 50px; 
    position: absolute; 
    left: -70px; 
    top: 50%;
    transform: translateY(-50%); 
}

.filter{
    height: 109px;
    margin-top: 25px;
}

.filter-menu-button:focus + .black-back{
    display: block;
}

.cards-catalog{
    display: flex;
    width: 1373px;
    height: 1600px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
}

.cards-catalog::-webkit-scrollbar {
    width: 12px;  
}

.cards-catalog::-webkit-scrollbar-track {
    background: #4C312F;
}

.cards-catalog::-webkit-scrollbar-thumb {
    background-color: #EFB351;
    border-radius: 20px;
    border: 2px solid #4C312F;
}

.card-catalog{
    width: 404px;
    height: 570px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 30px;
}

.card-price-catalog{
    font-size: 30px;
    margin: 0;
}

/*
    Одежда
*/

.card-image-catalog-ropa-1{
    background-image: url("./pages/ropa/e1/assets/img/clothes.png");
}

.card-image-catalog-ropa-2{
    background-image: url("./pages/ropa/e2/assets/img/clothes.png");
}

.card-image-catalog-ropa-3{
    background-image: url("./pages/ropa/e3/assets/img/clothes.png");
}

.card-image-catalog-ropa-4{
    background-image: url("./pages/ropa/e4/assets/img/clothes.png");
}

.card-image-catalog-ropa-5{
    background-image: url("./pages/ropa/e5/assets/img/clothes.png");
}

.card-image-catalog-ropa-6{
    background-image: url("./pages/ropa/e6/assets/img/clothes.png");
}

.card-image-catalog-ropa-7{
    background-image: url("./pages/ropa/e7/assets/img/clothes.png");
}

.card-image-catalog-ropa-8{
    background-image: url("./pages/ropa/e8/assets/img/clothes.png");
}

.card-image-catalog-ropa-9{
    background-image: url("./pages/ropa/m1/assets/img/hudak.jpg");
}

.card-image-catalog-ropa-10{
    background-image: url("./pages/ropa/m1/assets/img/sumka.jpg");
}

.card-image-catalog-ropa-11{
    background-image: url("./pages/ropa/m3/assets/img/kurtka.jpg");
}

.card-image-catalog-ropa-12{
    background-image: url("./pages/ropa/m4/assets/img/swuimsuit.jpg");
}

.card-image-catalog-ropa-13{
    background-image: url("./pages/ropa/m5/assets/img/kepka.jpg");
}

.card-image-catalog-ropa-14{
    background-image: url("./pages/ropa/m6/assets/img/galstuk.jpg");
}

.card-image-catalog-ropa-15{
    background-image: url("./pages/ropa/m7/assets/img/clothes.png");
}

/*
    Бананы
*/

.card-image-catalog-banana-1{
    background-image: url("./pages/banana/t2/INDEX.html/banan1.jpeg");
}

.card-image-catalog-banana-2{
    background-image: url("./pages/banana/t2/INDEX.html/banan14.png");
}

.card-image-catalog-banana-3{
    background-image: url("./pages/banana/t2/INDEX.html/banan13.png");
}

.card-image-catalog-banana-4{
    background-image: url("./pages/banana/t2/INDEX.html/banan12.png");
}

.card-image-catalog-banana-5{
    background-image: url("./pages/banana/t2/INDEX.html/banan11.png");
}

.card-image-catalog-banana-6{
    background-image: url("./pages/banana/t2/INDEX.html/banan10.png");
}

.card-image-catalog-banana-7{
    background-image: url("./pages/banana/t6/INDEX.html/banan9.png");
}

.card-image-catalog-banana-8{
    background-image: url("./pages/banana/t6/INDEX.html/banan8.png");
}

.card-image-catalog-banana-9{
    background-image: url("./pages/banana/t6/INDEX.html/banan7.png");
}

.card-image-catalog-banana-10{
    background-image: url("./pages/banana/t6/INDEX.html/banan6.png");
}

.card-image-catalog-banana-11{
    background-image: url("./pages/banana/t6/INDEX.html/banan5.png");
}

.card-image-catalog-banana-12{
    background-image: url("./pages/banana/t6/INDEX.html/banan4.png");
}

.card-image-catalog-banana-13{
    background-image: url("./pages/banana/t6/INDEX.html/banan3.png");
}

.card-image-catalog-banana-14{
    background-image: url("./pages/banana/t6/INDEX.html/banan2.png");
}

.card-image-catalog-banana-15{
    background-image: url("./pages/banana/t2/INDEX.html/banan15.png");
}

/*
    Кружки
*/

.card-image-catalog-cup-1{
    background-image: url("./pages/cup/o1/heder/kruzka1.jpg");
}

.card-image-catalog-cup-2{
    background-image: url("./pages/cup/o1/heder/kruzka2.jpg");
}

.card-image-catalog-cup-3{
    background-image: url("./pages/cup/o4/heder/kruzka4.png");
}

.card-image-catalog-cup-4{
    background-image: url("./pages/cup/o4/heder/kruzka5.png");
}

.card-image-catalog-cup-5{
    background-image: url("./pages/cup/o4/heder/kruzka6.png");
}

.card-image-catalog-cup-6{
    background-image: url("./pages/cup/o7/heder/kruzka7.png");
}

.card-image-catalog-cup-7{
    background-image: url("./pages/cup/o7/heder/kruzka8.png");
}

.card-image-catalog-cup-8{
    background-image: url("./pages/cup/o7/heder/kruzka9.png");
}

.card-image-catalog-cup-9{
    background-image: url("./pages/cup/o7/heder/kruzka10.png");
}

.card-image-catalog-cup-10{
    background-image: url("./pages/cup/o7/heder/kruzka11.png");
}

.card-image-catalog-cup-11{
    background-image: url("./pages/cup/o7/heder/kruzka12.png");
}

.card-image-catalog-cup-12{
    background-image: url("./pages/cup/o7/heder/kruzka13.png");
}

.card-image-catalog-cup-13{
    background-image: url("./pages/cup/o7/heder/kruzka14.png");
}

.card-image-catalog-cup-14{
    background-image: url("./pages/cup/o7/heder/kruzka15.png");
}

.card-image-catalog-cup-15{
    background-image: url("./pages/cup/o1/heder/kruzka2.jpg");
}

.card-image-catalog-size{
    height: 480px;
    width: 404px;
    background-size: 334px 404px;
    background-repeat: no-repeat;
    background-position: 33px;
    border-radius: 33px;
}

.card-description-catalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 51px;
}

.card-button-catalog{
    width: 242px;
    height: 63px;
    border-radius: 15px;
    border: none;
    background-color: #EFB351;
    font-family: "Jost", sans-serif;
    font-size: 30px;
    color: #4C312F;
}

.card-catalog-opZ{
    display: none;
}

.card-button-catalog:hover {
    cursor: pointer;
}

#contacts-catalog{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    margin-top: 50px;
}

#overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

.catalog-filter{
    display: none;
}



@media (min-width: 290px) and (max-width: 440px){
    .filters{
        position: fixed;
        top: 0px;
        left: -300px;
        z-index: 100;
        width: calc(100% / 2);
        height: 100%;
        background-color: #EFB351;
    }

    .catalog-content{
        flex-direction: column;
    }

    .catalog-filter{
        display: block;
    }

    #filter-button{
        background-color: transparent;
        border: none;
    }

    .filters{
        gap: 0px;
    }

    hr{
        width: 180px;
    }

    .ropa-filter{
        gap: 25px;
    }

    .banana-filter{
        gap: 25px;
    }

    .cup-filter{
        gap: 25px;
    }

    .car-filter{
        gap: 25px;
    }

    .filters p{
        font-size: 40px;
    }

    .filters a > p{
        font-size: 30px;
    }

    .cards-catalog{
        width: 100%;
        height: 100%;
    }

    .card-catalog{
        width: 150px;
        height: 200px;
    }

    .card-price-catalog{
        font-size: 15px;
    }

    .card-description-catalog{
        gap: calc(100% - 143px);
        white-space: nowrap;
    }
    
    .card-button-catalog{
        width: 100px;
        height: 25px;
        border-radius: 5px;
        font-size: 15px;
    }

    .card-image-catalog-size{
        height: 160px;
        width: 150px;
        background-size: 150px 150px;
        background-repeat: no-repeat;
        background-position: 1px;
    }

    .card-catalog-opZ{
        display: block;
        width: 150px;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}