*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: jost;
}
.background-first{
    position: absolute;
    z-index: -1;
}
body{
    background-image: url("./assets/img/fWindow.png");
    height: 100wh;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    border-bottom: 1px solid white;
    height: 85px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #4C312F;
}

header > img {
    margin-left: 50px;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
}

.header-button{
    border-left: 1px solid white;
}

.header-button-reg{
    border-right: 1px solid white;
}

.mainWH{
    padding: 29px 44px 29px 44px;
    color: #4C312F;
}

.itemsH{
    padding: 29px 30px 29px 30px;
    color: #4C312F;
}

.aboutH{
    padding: 29px 67px 29px 67px;
    color: #4C312F;
}

.catalogH{
    padding: 29px 67px 29px 67px;
    color: #4C312F;
}

.regH{
    padding: 29px 70px 29px 70px;
    color: #4C312F;
}

.contactsH{
    padding: 29px 32px 29px 32px;
    color: #4C312F;
}
footer{
    width: 100%;
    height: 265px;
    background-color: #FFFFFF;
}

.contacts-text{
    font-size: 25px;
}

.contacts-bold-text{
    margin-bottom: 65px;
    font-weight: 700;
}

#contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-of-text{
    margin-left: 65px;
}

.sociales{
    display: flex;
    flex-direction: column;
    margin-right: 206px;
    gap: 10px;
}

.soc{
    display: flex;
    align-items: center;
}

.soc-text{
    margin-left: 23px;
    font-size: 25px;
}
.kartochka{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.arrow{
    width: 122px;
    height: 122px;
    margin-right: 75%;
}
.baze{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 76px;
    background-color: #FFFFFF;
    width: 1850px;
    height: 1131px;
    border-radius: 50px;
}
.allinfo{
    display: flex;
    flex-direction: row;
    gap: 183px;
    color: #4C312F;
}
.imgclothes{
    height: 834px;
    width: 690px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 0 0 0 49px;
}
.alltext{
    display: flex;
    width: 924px;
    flex-direction: column;
    justify-content: space-around;
}
.nameclothes{
    font-size: 50px;
    font-weight: 900;
}
.color{
    font-size: 25px;
    font-weight: 400;
}
.tablesize{
    font-size: 25px;
    font-weight: 700;
}
.size{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 421px;
    height: 70px;
    background: #4C312F;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    padding: 18px 25px;
}
.changesize{
    height: 34px;
    border-right: 2px solid #FFFFFF;
    padding: 15px;
    text-align: center;
    width: 40px;
}
.changesize:last-child{
    border-right: none;
}
.maininfo{
    display: flex;
    flex-direction: row;
    height: 241px;
    width: 704px;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    border-top: 2px solid #4C312F;
    border-bottom: 2px solid #4C312F;
}
.vozvrat{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 400;
    gap: 8px;
}
.primerka{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 400;
    gap: 5px;
}
.price{
    display: flex;
    flex-direction: row;
    color: #EFB351;
    font-size: 50px;
    font-weight: 700;
}
.buttons{
    display: flex;
    gap: 86px;
}
.buynow{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    background: #EFB351;
    width: 396px;
    height: 76px;
    border-radius: 47px;
}
.incart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    background: #EFB351;
    width: 396px;
    height: 76px;
    border-radius: 47px;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 1850px;
    height: 559px;
    border-radius: 50px;
    margin: 70px 35px 212px;
}
.opisanie{
    padding-right: 1417px;
    font-size: 60px;
    font-weight: 700;
}
.change-description{
    width: 1703px;
    font-size: 25px;
    font-weight: 400;
}